<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="textscript" href="/assets/google-code-prettify/prettify.css">

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mycustom.css">
        {% include baidu-analytics.html %}
    </head>
    <body>
        {% include navbar.html %}

        <div class="container-fluid">
            <div class="row">
            	<div class="col-xs-1">
            	</div>
                <div class="col-xs-9">
                        <h5>记录读过、在读、想读的一些书籍，大部分为电子版。</h5>
<hr/>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>BookCover</th>
            <th>BookName</th>
            <th>StartDate</th>
            <th>FinishDate</th>
            <th>Note</th>
            <!--<th>Download</th>-->
        </tr>
    </thead>
    <tbody>
        {% for book in site.data.books %}
            {% if book.finish_date == null %}
            <tr class="active">
            {% elsif book.finish_date == 'x' %}
            <tr class="danger">
            {% else %}
            <tr class="success">
            {% endif %}
                <td><a href="{{ book.douban_link }}"><img src="{{ book.cover }}" class="img-rounder" width="60" height="80" alt="{{ book.name }}"/></td>
                <td>{{ book.name }}</td>
                <td>{{ book.start_date }}</td>
                <td>{{ book.finish_date }}</td>
                <td>{{ book.note }}</td>
                <!--<td><a href="{{ book.download_link }}">Download</td>-->
             </tr>
        {% endfor %}
    </tbody>
</table>
                </div>

                <!-- {% include navside.html %} -->
            </div>

        </div>

        <script type="text/javascript" src="/assets/google-code-prettify/prettify.js"></script>
        <script type="text/javascript">
            $(function(){
                $("pre").addClass("prettyprint linenums");
                prettyPrint();
            });
        </script>
            {% include previous_next_page.html %}
    {% include share_comment.html %}
    </body>

</html>
