---
layout: default
title: Ying's Blog(生活,IT,笔记)
---
{% for post in paginator.posts %}
{% if post.categories[0] == 'booknotes' %}
    <!--todo if post is booknotes-->
    {% else %}
    <div style="border-style: groove;border-color: SeaShell; padding: 10px;border-width: 5px;border-radius:15px">
    <h3><a href="{{ post.url }}" style="color: #000">{{ post.title }}</a></h3>
    {{post.date | date: "%Y-%m-%d" }}
    {% assign hasexcept = page.excerpt | size %}
    {% if hasexcept != 0 %}
    <div class="excerpt_box">
        摘要："{{ post.excerpt }}<br/>
    </div>
    {% endif %}
    <p style="margin-top: 5px">
    {{ post.content | split:'<!--more-->' | first }}
    </p>
    <div class="readmore_box">
        <a href="{{ post.url }}">阅读全文&raquo;</a>
    </div>
    <div style="padding: 5px 10px;border-radius: 25px; border: 1px outset; background-color: #dddddd; margin-top: 5px">
        <span class="glyphicon glyphicon-folder-open"></span>
        {% for category in post.categories %}
            <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">{{ category }}</a>
        {% endfor %}
          
    {% unless post.tags == empty %}
        {% assign tagsize = post.tags | size %}
        {% if tagsize == 1 %}
            <span class="glyphicon glyphicon-tag" style="margin-left: 5px"></span>
        {% else %}
            <span class="glyphicon glyphicon-tags" style="margin-left: 5px"></span>
        {% endif %}
        {% for tag in post.tags %}
            <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
        {% endfor %}
    {% endunless %}
    </div>
    </div>
    <hr/>
{% endif %}
{% endfor %}

{% include pagination.html %}
