<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            {% if page.group == null or page.group == "home" %}
            <a class="blog-nav-item active" href="{{ site.home_path }}">{{ site.title }}</a>
            {% else %}
            <a class="blog-nav-item" href="{{ site.home_path }}">{{ site.title }}</a>
            {% endif %}
            {% if page.group == "archive" %}
            <a class="blog-nav-item active" href="{{ site.JB.archive_path }}">Archive</a>
            {% else %}
            <a class="blog-nav-item" href="{{ site.JB.archive_path }}">Archive</a>
            {% endif %}
            {% if page.group == "books" %}
            <a class="blog-nav-item active" href="{{ site.books_path }}">Books</a>
            {% else %}
            <a class="blog-nav-item" href="{{ site.books_path }}">Books</a>
            {% endif %}
            {% if page.group == "thinking" %}
            <a class="blog-nav-item active" href="{{ site.thinking_path }}">Thinking</a>
            {% else %}
            <a class="blog-nav-item" href="{{ site.thinking_path }}">Thinking</a>
            {% endif %}
            {% if page.group == "about" %}
            <a class="blog-nav-item active" href="{{ site.about_path }}">About</a>
            {% else %}
            <a class="blog-nav-item" href="{{ site.about_path }}">About</a>
            {% endif %}
            <p>独立思考、独立写作、独立传播</p>
        </nav>
    </div>
</div>

