<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <p>工欲善其事，必先利其器<br/>如非说明转载皆为原创，转载请<em>注明</em>出处。</p>
    </div>
    <div class="sidebar-module">
        <h4>Categories</h4>
        <ul>
            {% for category in site.categories %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" style="font-size: 18">{{ category[0] | join("/") }}
                <sup><span class="badge"><small>{{ category[1].size() }}</small></span></sup></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Tags</h4>
        <ul>
            {% for tag in site.tags %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] | join("/") }}<sup>{{ tag[1].size() }}</sup></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
