---
layout: default
---

{% include toc.html html=content %}

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}">{{ page.previous.title }} <i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"> {{ page.next.title }}</i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    owner: 'yingshin',
    repo: 'yingshin.github.io',
    oauth: {
      client_id: '2112a10696f1d2eb2f90',
      client_secret: 'cdb130b2bde2c527e97f34b31c0f6ec94dbb9ab2',
    },
  })
  gitment.render('container')
  </script>
</article>
