<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mycustom.css">
        <link rel="stylesheet" href="/css/github.css">
        {% include baidu-analytics.html %}
    </head>
    <body>
        {% include navbar.html %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="page-header">
                        <h2>{{ page.title }}</h2>
                        {% if page.date != null %}
                        <p class="text-indent: 2em">{{ page.date | date_to_string }}</p>
                        {% endif %}
                    </div>
                        {{ content }}
                </div>

                <!-- {% include navside.html %} -->
            </div>

        </div>
        {% include previous_next_page.html %}
    <!-- {% include share_comment.html %} -->
    <!-- <script type="text/javascript"> -->
        <!-- $("img").addClass('img-responsive'); -->
    <!-- </script> -->
    </body>

</html>
